<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabits.mapper.DeviceMapper">

    <!--对设备的Operation和Terminal有关的Mapper-->
    <resultMap id="terminalMap" type="com.terabits.meta.po.Device.TerminalPO">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="imei" column="imei" javaType="java.lang.String"></result>
        <result property="deviceId" column="deviceid" javaType="java.lang.String"></result>
        <result property="displayId" column="displayid" javaType="java.lang.String"></result>
        <result property="webId" column="webid" javaType="java.lang.String"></result>
        <result property="state" column="state" javaType="java.lang.Integer"></result>
        <result property="location" column="location" javaType="java.lang.String"></result>
        <result property="simId" column="simid" javaType="java.lang.String"></result>
        <result property="simRemain" column="simremain" javaType="java.lang.Double"></result>
        <result property="gmtCreate" column="gmtcreate" javaType="java.lang.String"></result>
        <result property="gmtModified" column="gmtmodified" javaType="java.lang.String"></result>
    </resultMap>

    <select id="selectOneTerminal" parameterType="String" resultMap="terminalMap">
        select * from terminal where displayid = #{displayId}
    </select>


    <select id="selectAllTerminal" resultMap="terminalMap">
        select * from terminal
    </select>

    <select id="selectLocation" parameterType="java.lang.String" resultType="java.lang.String">
        select location from terminal where displayid = #{displayId}
    </select>

</mapper>